.display-content {
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    max-height: 75vh;
}

.card {
    position: relative;
    background-color: var(--tertiary);
    /* design a cheap border */
    border: 1px solid var(--primary);
    z-index: 0;
    transition: all 0.2s ease-in-out; 
}
.card-body .card-title {
    text-align: left;
    color: var(--secondary);
    text-overflow: ellipsis;
}

.card-title {
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    padding-left: 0.5rem;
    color: var(--primary)!important;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: right;
}

.buttons {
    display:none;
    position:absolute;
    top: 0;
    left: 0;
    transform: translateX(25%) translateY(50%);
}

.card:hover .buttons {
    display:flex;
    z-index: 1000;
}
.card:hover .card-title {
    opacity: 0;
}
.buttons > * {
    margin-right: 1rem;
}
