<div class="d-flex border justify-content-around">
    <div class="col-4 text-center display">
        <div class="display-heading">
            <h1>Draft</h1>
        </div>
        <div class="display-content">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading is big heading so make this heading big heading because it is a big heading heading needs head and ing so we get heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Post heading</p>
                    <div class="buttons">
                        <button class="btn btn-outline-success">Publish Post</button>
                        <button class="btn btn-outline-danger">Delete</button>
                        <button class="btn btn-outline-primary">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 text-center display">Scheduled</div>
    <div class="col-4 text-center display">Uploaded</div>
</div>